:root {
  --big-img-size: 650px;

}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  padding-top: 10vh;
  overflow-x: hidden;
  position: relative;
}

a {
  text-decoration: none;
  color:white;
  font-size:1.15rem;
}

h1{
  font-weight: 700;
  font-size:3rem;
}

h3{
  font-weight:500;
  font-size:1.25rem;
}

@media  screen and (max-width:550px) {
  h1{
    font-size: 2.5rem;
  }
  h3{
    font-size:1rem;
  }
  
}

nav {
  background-color: black;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 5rem;
  display: flex;
  align-items: center;
  z-index: 100;
  margin:0;
}

.main {
  width: 80%;
  overflow: hidden;
  margin: 0 auto;
}

.container {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo {
  font-size: 1.5em;
  height: 100%;
  padding: .3rem;
}

.logo img {
  height: 100%;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin:0;
  display: flex;
  align-items: center;
  
}

.nav-menu-close-btn {
  display: none;
}


.nav-links a {
  border-bottom: 2px solid transparent;
  transition: all 0.5s;
  font-weight: bold;
  text-decoration: none;
}

.nav-links a:hover {
  border-bottom: 2px solid white;
  color: white;
}

.nav-links li {
  color:white;
  margin: 0 10px;
}


.nav-menu-btn {
  display: none;
  margin-right:1rem;
}
.nav-menu-btn i{
  color:white;
}

#carouselExampleIndicators{
  background-color: black;
  color:white;
  overflow: hidden;
}
/* .carousel-item-content{
  text-shadow:1px 1px 4px rgba(0, 0, 0, 0.39);
} */



.blob{
  position: absolute;
  opacity:0.6;
  transition: 0.5s all;
}
.blob svg{
  width:50rem;
}
.blob-1{
  top:0;
  left:0;
  transform: translateX(-30%);
}
.blob-2{
  right:0;
  transform: translate(-100%,-20%);
}
.blob-2 svg{
  width: 30rem;
}
@media all and (max-width:1000px) {
  .blob-1 svg{
    width:40rem;
  }
  .blob-2{
    transform:translate(-80%,-30%);
  }
}


.blob-3{
  right:0;
  bottom:0;
  transform: translateY(20%);
}


.blob-3 svg{
  width:35rem;
}

.blob-1 svg path{
  fill:#ff7675;
  animation:blobAnimation1 7s infinite ease;
}
.blob-2 svg path{
  fill: #a29bfe;
  animation: blobAnimation2 8s infinite ease;
}
.blob-3 svg path{
  fill:#81ecec;
  animation:blobAnimation2 10s infinite ease;
}

@keyframes blobAnimation1 {
  0% {
    
    d: path("M55.7,-20.8C61.3,-0.9,47.4,22.6,26.6,38C5.8,53.5,-21.9,60.9,-35.1,50.8C-48.2,40.7,-46.7,13,-38.4,-10.6C-30.2,-34.2,-15.1,-53.8,5,-55.4C25.1,-57,50.2,-40.7,55.7,-20.8Z");
  }
  20% {
    d:path("M39.9,-12.9C46.5,7.2,42.9,30.6,28.2,42C13.6,53.3,-12.1,52.6,-32.7,39.1C-53.3,25.5,-68.8,-1,-62.6,-20.7C-56.3,-40.4,-28.1,-53.4,-5.7,-51.5C16.7,-49.7,33.4,-33,39.9,-12.9Z");
  }
  40%{
    d: path("M48.6,-15.6C54.4,2,44.6,24.9,25.2,40.2C5.9,55.6,-22.9,63.3,-38.7,52.1C-54.5,40.9,-57.3,10.7,-48.6,-10.8C-40,-32.4,-20,-45.2,0.7,-45.5C21.4,-45.7,42.8,-33.3,48.6,-15.6Z");
  }
  60%{
    d:path("M57.4,-19.1C63,-1.3,48.4,22.7,27.3,38.1C6.1,53.6,-21.5,60.7,-38.4,49.3C-55.4,37.9,-61.5,8,-53.3,-13.4C-45.1,-34.8,-22.5,-47.7,1.7,-48.3C25.9,-48.8,51.7,-37,57.4,-19.1Z");
  }
  80% {
    d:path("M62.1,-19.2C69.9,3.9,58.5,34.3,35.9,51.1C13.3,67.9,-20.3,71.1,-39.9,56.5C-59.4,41.9,-64.9,9.6,-55.9,-15.2C-46.9,-40,-23.4,-57.1,1.9,-57.7C27.1,-58.3,54.3,-42.4,62.1,-19.2Z")
  }
  100%{
    d: path("M55.7,-20.8C61.3,-0.9,47.4,22.6,26.6,38C5.8,53.5,-21.9,60.9,-35.1,50.8C-48.2,40.7,-46.7,13,-38.4,-10.6C-30.2,-34.2,-15.1,-53.8,5,-55.4C25.1,-57,50.2,-40.7,55.7,-20.8Z");
  }
}

@keyframes blobAnimation2 {
  0% {
    d: path("M67.8,-18.7C75.4,1.4,60.6,32.2,37.2,48.5C13.8,64.8,-18,66.8,-40.2,51.6C-62.4,36.3,-74.9,4,-66.6,-17.1C-58.3,-38.2,-29.1,-47.9,0.5,-48.1C30.1,-48.2,60.2,-38.8,67.8,-18.7Z");
  }
  30% {
    d:path("M52.4,-19.5C58.9,2.9,48.8,28.1,32.4,38.7C15.9,49.3,-7,45.3,-29.1,31.3C-51.3,17.3,-72.6,-6.6,-67.6,-27C-62.6,-47.4,-31.3,-64.2,-4.2,-62.8C23,-61.5,46,-42,52.4,-19.5Z");
  }
  60%{
    d: path("M50.8,-15C57,2.7,47.2,27,28,41.8C8.8,56.5,-19.8,61.5,-41.5,48C-63.2,34.4,-78,2.1,-69.9,-18.1C-61.8,-38.3,-30.9,-46.4,-4.3,-45C22.3,-43.6,44.6,-32.6,50.8,-15Z");
  }
  90%{
    d:path("M49.5,-14.3C56.2,4.4,48.1,29.7,31.9,40.7C15.7,51.7,-8.6,48.5,-28.5,35C-48.5,21.5,-64.1,-2.2,-58.7,-19.3C-53.2,-36.4,-26.6,-46.9,-2.6,-46C21.4,-45.2,42.8,-33,49.5,-14.3Z");
  }
  100%{
    d: path("M67.8,-18.7C75.4,1.4,60.6,32.2,37.2,48.5C13.8,64.8,-18,66.8,-40.2,51.6C-62.4,36.3,-74.9,4,-66.6,-17.1C-58.3,-38.2,-29.1,-47.9,0.5,-48.1C30.1,-48.2,60.2,-38.8,67.8,-18.7Z");
  }
}



/* carousel style */
.carousel-control-prev-icon{
  background-image:url('assets/icons/left-arrow-2.svg');
}
.carousel-control-next-icon{
  background-image:url('assets/icons/right-arrow-2.svg');
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width:3rem;
  height:3rem;
}

.carousel-indicators>li{
  /* background-color: black; */
  background-color: white;
}

.carousel-inner{
  height:40rem;
  display: flex;
  align-items: center;
}


.carousel-item-content{
  display:flex;
  justify-content: space-between;
  padding-left:2rem;
  align-items: center;
}

.carousel-item-content>.text-section{
  flex:1;
  position:relative;
  /* overflow:hidden; */
  min-height:30rem;
}



.carousel-item-content>.text-section>.text-content{
  position:absolute;
  top:0;
  left:0;
  padding-left:7rem;
  width: 50%;
  min-width:30rem;
  transform: translate(0,10%);
  z-index: 9;
}

@media screen and (min-width:1200px) {
  .carousel-item-content>.text-section>.text-content{
    transform: translate(40%,0%);
  }
  
}

@media screen and (max-width:600px) {
  .carousel-item-content>.text-section>.text-content{
    transform: translate(0%,20%);
    padding:0.5rem 1rem;
    min-width:20rem;
  }
}

.carousel-item-content>.text-section>.text-content .show{
  top:0;
  opacity:1;
}


.carousel-item-content>.image-container{
  position: relative;
}

.carousel-item-content>.image-container>img{
  width:30rem;
  z-index: -1;
}

@media screen and (max-width:600px) {
  .carousel-item-content>.image-container>img{
    width:25rem;
  }
}

@media  screen and (max-width:900px) {
  .carousel-item-content>.image-container::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background-color: black;
    opacity: 0.5;
    z-index: 0;
  }
}

.carousel-item> .card-content img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  object-position:top;
  border-radius: 50%;
}

.carousel-item>.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap:1rem;
  padding: 30px;
}


#customer-review{
  margin-top:10rem;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-bottom:5rem;
  position: relative;
}



#customer-review .carousel-inner{
  height:max-content;
}
#customer-review h1{
  text-align: center;
}


#customer-review .carousel-control-prev-icon{
  background-image:url('assets/icons/left-arrow-1.svg');
}
#customer-review .carousel-control-next-icon{
  background-image:url('assets/icons/right-arrow-1.svg');
}
#customer-review .carousel-control-prev-icon,
.carousel-control-next-icon{
  width:3rem;
  height:3rem;
}

.carousel-indicators>li{
  background-color: black;
}

.feedback-blob-1{
  left:10%;
  bottom:10%;
  z-index: -99;
  rotate:-45deg;
  opacity: 0.3;
  translate:-30% 0;
}
.feedback-blob-2{
  opacity:0.3;
  right:0%;
  top:0;
  z-index: -99;
  rotate:15deg;
  translate:0% -30%;
}
.feedback-blob-1 svg{
  width:20rem;
}

.feedback-blob-1 svg path{
  fill:#ffa801;
  animation:fill-animation 1s ease-in-out forwards 2;
  animation-play-state: paused;
  transition: all 0.5s;
  animation-delay: 0.5s;
}

@keyframes fill-animation {
  0%{
    translate: 0% 0%;
  }
  40%{
    translate: 5% -5%;
  }
  100%{
    translate: 0% 0%;
  }
}

.feedback-blob-2 svg{
  width:15rem;
}

.feedback-blob-2 svg path{
  stroke:#4a69bd;
  animation:stroke-animation 1s linear forwards;
  animation-play-state: paused;
  transition: all 0.5s;
}

@keyframes stroke-animation {
  0%{
    stroke-dashoffset: 49.48921585083008;
    stroke-dasharray: 49.48921585083008;
  }
  100%{
    stroke-dashoffset: 0;
    stroke-dasharray: 0;
  }
}

.content {
  padding: 20px;
}

.product-des{
  /* border: 2px solid green; */
  padding: .5rem;
  /* font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 500;
  background-color: rgb(209, 204, 204); */
}
.product-section {
  /* border: 2px solid green; */
  /* display: flex; */
  /* flex-wrap: wrap; */
  width: 100%;
  height: 90vh;
  justify-content: center;
}

.main-product-img {
  /* border: 2px solid red; */
  height: 90%;
  width: 50%;
}

.main-product-img>img {
  display: block;
  height: 100%;
  object-fit: contain;
  margin-left: auto;
  transform: scaleX(-1)
}

.title {
  /* border: 2px solid yellow; */
  width: 50%;
  z-index: 10;
}


.title>.words>span {
  display: block;
  font-size: 3rem;
  font-weight: bolder;
  color: black;
  display: none;
}

.title>.words>.text-visible {
  display: block !important;
  animation: bounce-effect 1s ease forwards;
}



.product-feature {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 5rem;
}

.product-feature .heading {
  width: 70%;
}

.product-feature h1 {
  font-size: 3rem;
  font-weight: bolder;
  line-height: 4rem;
  margin-bottom: 3rem;
}


.product-feature p {
  font-size: 1.5rem;

}

.product-feature>.product-image>img {
  display: block;
  width: 35rem;
  margin: 0 auto;
}

/* location section */



.location-section{
  position: relative;
  margin-top:10rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}


.location-section>.location-content{
  margin-top: 2rem;
  display: flex;
  width:100%;
  justify-content: center;
}
@media  all and (max-width:1000px) {
    .location-content{
      flex-direction: column-reverse;

    }
}

.location-content>.office-location{
  display: flex;
  flex-direction: column;
  background-color: rgb(18, 15, 36);
  height:max-content;
  padding:1.5rem 3rem;
  color:white;
}
.location-content>.office-location h3{
  font-weight: 500;
  text-transform: uppercase;
  line-height: 2;
}
.location-content>.office-location p{
  font-weight: 400;
  line-height: 0.5;
  opacity: 0.5;
}

.location-section::after{
  content:'';
  background-image: url('assets/icons/location.svg');
  position:absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  top:-13%;
  right:6%;
  min-width:15rem;
  min-height:15rem;
  rotate:25deg;
  z-index: -99; 
  opacity:0.4;
  transition: 1s all;
}

 .in-view::after{
  animation:jiggle 1.5s ease-in-out 2 ;
}

@media all and (max-width:1000px) {
  .location-section::after{
    right:-5%;
    top:-10%;
  }
}

@media all and (max-width:650px) {
  .location-section::after{
    right:0%;
    top:-15%;
    rotate: 15deg;
  }
}


@keyframes jiggle {
  0%{
    translate:0% 0%;
  }

  50%{
    translate:2.5% -4%;
  }
  100%{
    translate:0% 0%;
  }
}

/* team section  */
.team{
  margin-top:5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.team>h1{
  margin-bottom:2rem;
}

.team>.team-content{
  display: flex;
  gap:2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.profile-card {
  border: 1px solid #ccc;
  width: 20rem;
}
@media screen and (max-width:950px) {
    .profile-card{
      width: 15rem;
    }
}

.profile-details {
  display: none;
}

.profile-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 15rem;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #fff;
  row-gap: 0.5rem;
  transition: 0.5s all;

}
.profile-card>img{
  height: 50%;
  width: 50%;
  object-fit:contain;
  border-radius: 40% 5%; 
}

.profile-card:hover{
  transform: translateY(-3%);
  background-color: #ffc;
  cursor: pointer;
}



/* team section end  */

footer {
  background-color: black;
  min-height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 10rem;
  color: white;
  text-transform: uppercase;
}


.footer-upward-section {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  flex-wrap: wrap;
  align-items: center;
}

.footer-upward-section>.follow-btn>p {
  margin-bottom: 1rem;
  text-align: center;
}

.footer-upward-section>.follow-btn>.icons>a{
  padding:0.5rem;
}


.footer-upward-section>.contact-us>p:first-of-type {
  margin-bottom: 1rem;
}


.footer-upward-section>.follow-btn>.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.footer-upward-section>.follow-btn>.icons i {
  font-size: 1.5rem;
}

.footer-upward-section>.logo>img {
  display: block;
  width: 10rem;
}


.footer-upward-section>.contact-us>p:not(:first-of-type) {
  font-weight: 600;
  letter-spacing: 0.1ch;
}

.footer-downward-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid darkgray;
  padding: 2.5rem 0;
}


.faq-blob{
  position: absolute;
  top:0;
  right:0;
  z-index: -99;
  opacity: 0.25;
  rotate:30deg;
}


.faq-blob svg{
  width:25rem;
}

.faq-blob svg path{
  fill:transparent;
  stroke:#079992;
  stroke-width: 2px;
  transition: 0.5s all;
  
  stroke-dasharray: 223.1292724609375;
  stroke-dashoffset: 223.1292724609375;
  animation:ques-effect 1s linear forwards;
  animation-play-state: paused;
  animation-delay: 0.5s;
}

@keyframes ques-effect {

  0%{
    stroke-dasharray: 223.1292724609375;
    stroke-dashoffset: 223.1292724609375;
  }
  80%{
    fill:transparent;
    stroke:#079992;
  }
  100%{
    stroke-dashoffset: 0;
    stroke-dasharray: 0;
    stroke:transparent;
    fill:#079992;
  }

}

.faq-section {
  position:relative;
  margin-top:10rem;
  min-width: 50%;
  max-width: 70%;
  margin: 2rem auto;
}

.faq-section>.ques li {
  list-style: none;
  cursor: pointer;
}

.faq-section>.ques li:first-child {
  min-height: 3rem;
}

.faq-section>.ques>li:first-child {
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
}

.faq-section>.ques>li:first-child>i {
  transition: all 0.5s;
  margin-left: 1rem;
}

.faq-section>.ques>li:nth-child(2) {
  opacity: 0%;
  transition: all 0.2s;
  line-height: 0px;
}


.expand i {
  transform: rotate(-180deg);
}

.expand {
  border-bottom: none !important;
}


.show {
  opacity: 100% !important;
  line-height: 2rem !important;
  border-bottom: 1px solid gray;
}


/* .payment-section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2rem;
  gap: 1rem;
  padding: 1rem;
} */
.payment-section{
  /* border: 2px solid blue; */
  display: flex;
  gap: 1rem;
}

/* for badges  */
.price-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding-top: 2rem; */
  /* padding-bottom: 4rem; */
  width:50%;
  /* border: 2px solid green; */
  
}


.badge-box{
  display: flex;
  justify-content: space-between;
  row-gap: .5rem;
  height: 70%;
  flex-wrap: wrap;
  /* border: 2px solid red; */
}

.text-section{
  height:30%;
  /* border: 2px solid maroon; */
}

.badges{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid blue; */
  background-color: rgb(240, 234, 234);
  height: 7rem;
  width: 7rem;
  padding: 1rem;
  border-radius: 5px;
  gap: .5rem;
  /* border-radius: 50%; */
  
  /* margin: 0 auto; */
}

.badges>img{
  height: 70%;
  width: 70%;
  border-radius: 50%;
  /* margin: 0 auto; */
}
/* badges end  */


.user-form{
  /* border: 2px solid yellow; */
  margin-top: 2rem;
  width: 50%;
  padding-bottom: .5rem;
}

.user-form .input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper input {
  border: 1px solid black;
  padding: 0.5rem 0.25rem;
  outline: none;
}

.input-wrapper button {
  font-size: 1.5rem;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  background-color: #f9c10f;
  border: none;
  color: white;
  outline: transparent;
  border-radius: 2rem;
}



@media (max-width:1100px) {

  .main-product-img>img {
    height: 90%;
  }

  .title>.words>span {
    font-size: 3rem;
  }

  footer {
    padding: 0 8rem;
  }

  .footer-upward-section>.logo>img {
    display: block;
    width: 8rem;
  }
}

@media (max-width:920px) {

  .main-product-img>img {
    height: 70%;
  }

  .title>.words>span {
    font-size: 2.5rem;
  }

  footer {
    padding: 0 6rem;
  }

  .footer-upward-section p {
    font-size: 0.75rem;
  }

  .footer-downward-section p {
    font-size: 0.75rem;
  }

  .footer-upward-section>.contact-us>p:not(:first-of-type) {
    font-weight: bolder;
    line-height: 1.25rem;
    letter-spacing: 0.15ch;
  }
}


@media (max-width:780px) {
  .main {
    width: 95%;
  }

  .main-product-img>img {
    height: 60%;
  }

  .title {
    padding-left: 1rem;
  }

  .title>.words>span {
    font-size: 2.5rem;
  }


  .product-feature .heading {
    width: 80%;
  }

  .product-feature h1 {
    font-size: 2.5rem;
    font-weight: bolder;
    line-height: 3rem;
    margin-bottom: 2rem;
  }

  .product-feature .description {
    width: 90%;
  }

  .product-feature p {
    font-size: 1.25rem;

  }

  .product-feature>.product-image>img {
    width: 30rem;
  }


  .payment-section {
    flex-direction: column;
  }

  .user-form{
    width: 100%;
  }
  .price-section{
    width:100%;
  }


  .input-wrapper input {
    padding: 0.35rem 0.2rem;
  }

  .input-wrapper button {
    font-size: 1.25rem;
  }

}

@media (max-width:650px) {
  .title {
    width: min-content;
    top: 10%;
  }

  .main-product-img>img {
    width: 100%;
    height: 90%;
    object-fit: contain;
  }

  footer {
    padding: 0 1.25rem;
  }

  .footer-upward-section p {
    font-size: 0.75rem;
  }

  .footer-downward-section p {
    font-size: 0.75rem;
  }

  .footer-upward-section>.contact-us>p:not(:first-of-type) {
    font-weight: bolder;
    line-height: 1.25rem;
    letter-spacing: 0.15ch;
  }
}

@media (max-width:550px) {

  .payment-section {
    grid-template-columns: 1fr;
    /* border: 2px solid green; */
  }

  .nav-links {
    display: none;
    width: 100%;
    height: max-content;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    flex-direction: column;

  }

  /* media query for team section  */
    .team-section {
      justify-content: center;
    }
  
  
  .product-section{
    gap: 2rem;
  }
  .main-product-img{
    height: 70%;
    width: 80%;
  }
  .main-product-img>img {
    height: 70%;
  }

  .title {
    padding-left: 0.9rem;
  }

  .title>.words>span {
    font-size: 2rem;
  }

  .nav-menu-close-btn {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color:white;
    z-index:1;
  }


  .nav-links>li {
    margin: 1rem 1rem;
  }

  .nav-menu-btn {
    display: block;
    font-size: 2rem;
    cursor: pointer;
  }



  .footer-upward-section>.follow-btn>.icons {
    width: fit-content;
  }

  .footer-upward-section>.follow-btn>.icons i {
    margin-right: 1rem;
  }

  .footer-upward-section>.contact-us {
    grid-column-start: 2;
  }

  .footer-downward-section {
    padding: 1rem 0;
    flex-direction: column;
    align-items: flex-start;
  }

  .product-feature .heading {
    width: 80%;
  }

  .product-feature h1 {
    font-size: 2.5rem;
    font-weight: bolder;
    line-height: 3rem;
    margin-bottom: 2rem;
  }

  .product-feature .description {
    width: 90%;
  }

  .product-feature p {
    font-size: 1.25rem;

  }

  .product-feature>.product-image>img {
    width: 25rem;
  }
}